body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  margin: 30px 0;
}

header > h1 {
  color: white;
}

h1, h2 {
  margin: .3rem 0;
  padding: 0;
  text-align: center;
}

hgroup {
  padding: 1rem;
}

.content {
  padding:20px;
}
.content-principal {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

button {
  font-size: 1.4rem;
}

.error {
  text-align: center;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}